# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\yhm_byd\workspace\HQ_bms\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
